h1 {font-size: 44px;
    color: rgb(1, 1, 1);
    text-align: center;}
    
    /*body {background-color:rgb(230, 218, 255);} šis ir krāsu fona paraugs bla bla bla*/
    body {background-image:url("marvel.png");}
    h2{font-size: ;
    color:rgb(0, 0, 0);
    text-aligin: left;}
    <div
    
    h3 {font-size: 75;
    text-decoration: underline;}
    h4 {font-size: 40px;}
    
    
    
    
    
    
    .block
    {display:inline-table;
    background-color: rgb(117, 116, 116);
    width: 123px;
    height: 200px;
    border: 1px solid :out-of-range;}